altair==4.2.0
attrs==22.1.0
backports.zoneinfo==0.2.1
blinker==1.5
blis==0.7.8
brotlipy==0.7.0
cachetools==5.2.0
catalogue==2.0.8
certifi @ file:///C:/b/abs_4f5wo627a3/croots/recipe/certifi_1663615677642/work/certifi
cffi @ file:///C:/Windows/Temp/abs_6808y9x40v/croots/recipe/cffi_1659598653989/work
charset-normalizer==2.1.1
clean-text==0.6.0
click==8.1.3
cohere==2.5.0
colorama @ file:///C:/Windows/TEMP/abs_9439aeb1-0254-449a-96f7-33ab5eb17fc8apleb4yn/croots/recipe/colorama_1657009099097/work
commonmark==0.9.1
confection==0.0.2
contourpy==1.0.5
cryptography @ file:///C:/ci/cryptography_1652101772384/work
cycler==0.11.0
cymem==2.0.6
decorator==5.1.1
dill==0.3.5.1
download @ file:///home/conda/feedstock_root/build_artifacts/download_1646849514243/work
emoji==1.7.0
entrypoints==0.4
exceptiongroup==1.0.4
fonttools==4.37.4
ftfy==6.1.1
gitdb==4.0.9
GitPython==3.1.27
idna==3.4
importlib-metadata==4.12.0
importlib-resources==5.9.0
iniconfig==1.1.1
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.16.0
kiwisolver==1.4.4
langcodes==3.3.0
MarkupSafe==2.1.1
matplotlib==3.6.0
msgpack==1.0.4
msgpack-numpy==0.4.8
murmurhash==1.0.8
nltk==3.7
numpy==1.23.3
packaging==21.3
pandas==1.5.0
pathy==0.6.2
Pillow==9.2.0
pkgutil_resolve_name==1.3.10
pluggy==1.0.0
preshed==3.0.7
protobuf==3.20.3
pyarrow==9.0.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==1.9.2
pydeck==0.8.0b3
Pygments==2.13.0
Pympler==1.0.1
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing==3.0.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
pyrsistent==0.18.1
PySocks @ file:///C:/ci/pysocks_1605287845585/work
pytest==7.2.0
python-dateutil==2.8.2
pytz==2022.2.1
pytz-deprecation-shim==0.1.0.post0
regex==2022.9.13
requests @ file:///C:/ci/requests_1657717096906/work
rich==12.5.1
scikit-learn==1.1.2
scipy==1.9.1
semver==2.13.0
six @ file:///tmp/build/80754af9/six_1644875935023/work
smart-open==5.2.1
smmap==5.0.0
spacy==3.4.1
spacy-legacy==3.0.10
spacy-loggers==1.0.3
srsly==2.4.4
streamlit==1.14.1
thinc==8.1.2
threadpoolctl==3.1.0
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
tornado==6.2
tqdm @ file:///C:/b/abs_0axbz66qik/croots/recipe/tqdm_1664392691071/work
typer==0.4.2
typing_extensions==4.3.0
tzdata==2022.4
tzlocal==4.2
Unidecode==1.3.6
urllib3==1.26.12
validators==0.20.0
wasabi==0.10.1
watchdog==2.1.9
wcwidth==0.2.5
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306167264/work
wincertstore==0.2
zipp==3.8.1
